* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.container {
  min-width: 410px;
}

.DownApple:hover .logcolorapple {
  color: white;
}
.DownPlay:hover .logocolorplay {
  color: #014dfe;
}
